---
layout: page
title: "About"
description: "Hey, this is rickyw."
header-img: "img/home-bg.jpg"
---

<!-- Language Selector 
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select> 
-->

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        <p>Begin again<br>积极发展各种副业</p>
    </blockquote>

    <p><h3>rickyw</h3></p>

    <p> 在彷徨中不断努力。
        该博客主要记录一些个人觉得有趣的东西。<br>
        如果你觉得我有趣，值得成为你的朋友。随时在博客下<a href="#comments">留言 </a>或者通过 <a href="ailto:{{ site.email }}?subject=Interested+In+Your+Blog+Posts" target="_blank">邮件</a> 联系我！
    </p>

    <tr>
    <h4>目前状况:</h4>
    <div class="content-left1">
        <p>
            Lab: 复旦大学系统软件与安全实验室
            Relationship: in love ~ a thousand kisses deep.
        </p>
    </div>
</div>


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
